<a href="/">Video 1</a> / <a href="/video2">Video 2</a> / <a href="/video3">Video 3</a> / <a href="/video4">Video 4</a> / <a href="/video5">Video 5</a>  / <a href="/video6">Video 6</a><br /><br />

<video id="vid2" src="" class="video-js vjs-default-skin" controls preload="auto" width="640" height="360" data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v=xjS6SftYQaQ", "ytcontrols": true }'></video>

<%#= javascript_include_tag 'application' %>
<script src="/javascripts/video.dev.js?body=1"></script>
<script src="/javascripts/vjs.youtube.js?body=1"></script>
<script src="/javascripts/vast-client.js?body=1"></script>
<script src="/javascripts/video.ads.js?body=1"></script>
<script src="/javascripts/videojs.vast.js?body=1"></script>
<script type="text/javascript">
  var vid2 = videojs('vid2');
  vid2.ads();
  vid2.vast({
    url: 'http://ad3.liverail.com/?LR_PUBLISHER_ID=1331&LR_CAMPAIGN_ID=229&LR_SCHEMA=vast2'
  });
</script>
