<a href="/">Video 1</a> / <a href="/video2">Video 2</a> / <a href="/video3">Video 3</a> / <a href="/video4">Video 4</a> / <a href="/video5">Video 5</a><br /><br />

<video id="vid1" class="video-js vjs-default-skin" autoplay controls preload="auto"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{}'
       width='640'
       height='400'
>
  <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
  <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'>
  <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
  <p>Video Playback Not Supported</p>
</video>

<%#= javascript_include_tag 'application' %>
<script src="/javascripts/video.dev.js?body=1"></script>
<script src="/javascripts/vast-client.js?body=1"></script>
<script src="/javascripts/video.ads.js?body=1"></script>
<script src="/javascripts/videojs.vast.js?body=1"></script>
<script type="text/javascript">
  var vid1 = videojs('vid1');

  vid1.ads();
  vid1.vast({
    url: 'http://ad3.liverail.com/?LR_PUBLISHER_ID=1331&LR_CAMPAIGN_ID=229&LR_SCHEMA=vast2'
  });
</script>
