<!DOCTYPE html>
<html>
<head>
  <title>Video Publisher</title>
  <%#= stylesheet_link_tag    'application', media: 'all' %>
  <link href="/stylesheets/video-js.min.css?body=1" media="all" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
